# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
uv.lock
.DS_Store
wandb
output
outputs
slurm_logs

checkpoints
ckpts*
datasets/
tmp/
outputs/
results/

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/

.vscode/
.codex